
.grid3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 800px;
    margin: 0 auto;
    gap: 10px;
    z-index: 1;
}

.grid3 > .anuncio {
    grid-column: 1;
    grid-row: 1/3;
}

.grid3 > div {
    position: relative;
}

.grid3 > div > p {
    position: absolute;
    bottom:7px;
    width: 100%;
    padding: 2px;
    color: white;
    backdrop-filter: blur(5px);
}